@import '../_colors.scss';

.form {
  .row {
    display: flex;
  }

  &.horizontal {
    .label {
      width: 20%;
      max-width: 360px;
      text-align: right;
    }

    .input {
      flex: 1;
    }
  }

  &.vertical {
    .row {
      flex-direction: column;
    }

    .label label {
      padding-bottom: 0;
    }
  }

  &.inline {
    display: flex;

    .row + .row {
      margin-left: 12px;
    }
  }
}

.label {
  label {
    display: block;
    padding: 12px 12px 12px 0;
  }

  &.lg label {
    font-size: 16px;
    padding: 18px 12px 18px 0;
  }

  &.sm label {
    font-size: 12px;
    padding: 6px 12px 6px 0;
  }

  &.error {
    color: map-get($all-colors, red800);
  }

  &.disabled {
    color: map-get($all-colors, grey);
  }
}

.row.radioGroup {
  .label label {
    padding-top: 5.5px;
    padding-bottom: 5.5px;
  }

  .lg.label label {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .sm.label label {
    padding-top: 5.5px;
    padding-bottom: 5.5px;
  }

  &.radioInline {
    .label label {
      padding-top: 7px;
      padding-bottom: 7px;
    }

    .lg.label label {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .sm.label label {
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }
}
