@import '../_colors.scss';

.group {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 6px 12px 6px 0;

  &.inline .radio {
    display: inline-block;
    width: auto;
  }
}

.radio {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 3px 12px 3px 0;

  input {
    opacity: 0;
    height: 0;
    width: 0;
    margin: 0;
    position: absolute;

    & + .circle {
      box-sizing: border-box;
      display: inline-block;
      border: 1px solid map-get($all-colors, grey300);
      border-radius: 50%;
      vertical-align: middle;
      position: relative;
      transition: border-color 0.1s ease-in, box-shadow 0.1s ease-in;

      & + span {
        vertical-align: middle;
        line-height: 1;
      }

      .innerCircle {
        position: absolute;
        background: map-get($all-colors, link);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        border-radius: 50%;
      }
    }

    &:focus + .circle {
      border-color: map-get($all-colors, link);
      box-shadow: 0 0 2px 2px rgba(map-get($all-colors, link), 0.5);
    }
  }

  &.error input,
  &input:invalid {
    & + .circle {
      border-color: map-get($all-colors, red700);

      .innerCircle {
        background: map-get($all-colors, red700);
      }

      & + span {
        color: map-get($all-colors, red800);
      }
    }

    &:focus + .circle {
      border-color: map-get($all-colors, red700);
      box-shadow: 0 0 2px 2px rgba(map-get($all-colors, red700), 0.5);
    }
  }

  input:disabled {
    & + .circle {
      background: map-get($all-colors, grey100);

      .innerCircle {
        background: map-get($all-colors, grey600);
      }

      & + span {
        color: map-get($all-colors, grey);
      }
    }
  }
}

.sm {
  input + .circle {
    height: 12px;
    width: 12px;
    margin-right: 8px;

    & + span {
      font-size: 12px;
    }
  }
}

.md {
  input + .circle {
    height: 14px;
    width: 14px;
    margin-right: 8px;

    & + span {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.lg {
  input + .circle {
    height: 16px;
    width: 16px;
    margin-right: 8px;

    & + span {
      font-size: 16px;
      line-height: 26px;
    }
  }
}
