.group {
  display: flex;
  position: relative;
  margin: 6px 0;
  align-items: center;

  > * {
    margin: 0 !important;
    border-radius: 0 !important;
    flex-grow: 1;

    &:first-child {
      border-radius: 3px 0 0 3px !important;
    }

    &:last-child {
      border-radius: 0 3px 3px 0 !important;
    }
  }
}
