.password {
  &::-ms-reveal {
    display: none;
  }

  &.reveal {
    &.sm {
      > input {
        padding-right: 24px;
      }
    }

    &.md {
      > input {
        padding-right: 36px;
      }
    }

    &.lg {
      > input {
        padding-right: 48px;
      }
    }
  }
}

.button {
  position: absolute;
  top: 50%;
  margin: 0;
  right: 0;
  transform: translateY(-50%);
}
