$all-colors: (
  black: #000000,
  white: #ffffff,
  red: #f52f22,
  red50: #fff0ee,
  red100: #f5dbd9,
  red200: #f8b7b6,
  red300: #f89997,
  red400: #f76f6c,
  red500: #f54f47,
  red600: #f52f22,
  red700: #e62700,
  red800: #c92100,
  red900: #a32100,
  pink: #ed186f,
  pink50: #ffebf5,
  pink100: #fbc1da,
  pink200: #f897bf,
  pink300: #f46ca5,
  pink400: #f1428a,
  pink500: #ed186f,
  pink600: #d91468,
  pink700: #c41261,
  pink800: #b0105b,
  pink900: #9b0d54,
  purple: #781da0,
  purple50: #f3e6ff,
  purple100: #e1c9f1,
  purple200: #d0ace4,
  purple300: #be90d6,
  purple400: #ad73c8,
  purple500: #9b56bb,
  purple600: #8939ad,
  purple700: #781da0,
  purple800: #660092,
  purple900: #4d007a,
  marine: #343dac,
  marine50: #ebf0ff,
  marine100: #d1d6f3,
  marine200: #b7bde7,
  marine300: #9da3db,
  marine400: #838acf,
  marine500: #6870c4,
  marine600: #4e56b8,
  marine700: #343dac,
  marine800: #1a23a0,
  marine900: #0f1e82,
  blue: #0065ab,
  blue50: #e1f1f6,
  blue100: #c5e5ef,
  blue200: #a6d8e7,
  blue300: #89cbdf,
  blue400: #49afd9,
  blue500: #0095d3,
  blue600: #007cbb,
  blue700: #0065ab,
  blue800: #004d8a,
  blue900: #003d79,
  cyan: #00b7d6,
  cyan50: #ccfbff,
  cyan100: #a3edf6,
  cyan200: #6ddbeb,
  cyan300: #36c9e1,
  cyan400: #00b7d6,
  cyan500: #009cbf,
  cyan600: #0081a7,
  cyan700: #006690,
  cyan800: #005680,
  cyan900: #004a70,
  teal: #00968b,
  teal50: #defff9,
  teal100: #a7f4e9,
  teal200: #6fead9,
  teal300: #38dfc8,
  teal400: #00d4b8,
  teal500: #00bfa9,
  teal600: #00ab9a,
  teal700: #00968b,
  teal800: #007e7a,
  teal900: #006668,
  green: #48960c,
  green50: #dff0d0,
  green100: #c7e59c,
  green200: #aadb1e,
  green300: #85c81a,
  green400: #60b515,
  green500: #62a420,
  green600: #48960c,
  green700: #318700,
  green800: #266900,
  green900: #1d5100,
  yellow: #ffdc0b,
  yellow50: #fffce8,
  yellow100: #fef3b5,
  yellow200: #ffe860,
  yellow300: #ffdc0b,
  yellow400: #fdd006,
  yellow500: #fac400,
  yellow600: #edb200,
  yellow700: #dfa100,
  yellow800: #d28f00,
  yellow900: #c47d00,
  orange: #f57600,
  orange50: #ffe5c9,
  orange100: #ffcd97,
  orange200: #ffb565,
  orange300: #ff9c32,
  orange400: #ff8400,
  orange500: #f57600,
  orange600: #e46c00,
  orange700: #d36000,
  orange800: #c25400,
  orange900: #aa4500,
  darkorange: #ee4a08,
  darkorange50: #ffe5dc,
  darkorange100: #ffccb5,
  darkorange200: #ffb38f,
  darkorange300: #ff9a69,
  darkorange400: #ff8142,
  darkorange500: #ff681c,
  darkorange600: #ff5500,
  darkorange700: #ee4a08,
  darkorange800: #de400f,
  darkorange900: #cd3517,
  warmgrey: #80746d,
  warmgrey50: #faf9f5,
  warmgrey100: #f4f1e6,
  warmgrey200: #e3ddd1,
  warmgrey300: #cfc8bd,
  warmgrey400: #bbb3a9,
  warmgrey500: #a89e95,
  warmgrey600: #948981,
  warmgrey700: #80746d,
  warmgrey800: #6c5f59,
  warmgrey900: #5b4d47,
  grey: #737373,
  grey50: #fafafa,
  grey100: #f2f2f2,
  grey200: #eeeeee,
  grey300: #dddddd,
  grey400: #cccccc,
  grey500: #9a9a9a,
  grey600: #737373,
  grey700: #565656,
  grey800: #444444,
  grey900: #313131,
  coolgrey: #61717d,
  coolgrey50: #f3f6fa,
  coolgrey100: #d9e4ea,
  coolgrey200: #c1cdd4,
  coolgrey300: #a9b6be,
  coolgrey400: #919fa8,
  coolgrey500: #798893,
  coolgrey600: #61717d,
  coolgrey700: #495a67,
  coolgrey800: #314351,
  coolgrey900: #25333d,
  inherit: inherit
);

$text-color: map-get($all-colors, grey700);
