@import url('https://fonts.googleapis.com/css?family=Fira+Sans:200,200i,400,400i,500,500i,600,600i');

$line-height: 24px;
$font-size: 14px;

@mixin default-text {
  font-family: 'Fira Sans', Roboto, 'Helvetica Neue', Arial, sans-serif;
  line-height: $line-height;
  font-size: $font-size;
  font-weight: 400;
}

@mixin default-header {
  font-family: 'Fira Sans', Roboto, 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

@mixin bold {
  font-weight: 600;
}

@mixin medium {
  font-weight: 500;
}

@mixin light {
  font-weight: 200;
}

@mixin italic {
  font-style: italic;
}

@mixin underline {
  text-decoration: underline;
}

@mixin truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin h1 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 200;
  letter-spacing: normal;
}

@mixin h2 {
  font-size: 28px;
  line-height: 48px;
  font-weight: 200;
  letter-spacing: normal;
}

@mixin h3 {
  font-size: 22px;
  line-height: 24px;
  font-weight: 200;
  letter-spacing: normal;
}

@mixin h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 200;
  letter-spacing: normal;
}

@mixin h5 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.01em;
}

@mixin h6 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: normal;
}
