body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
}

main {
  flex: 1;
  padding-left: 250px;
}

main > article {
  max-width: 900px;
  margin: 12px;
}

.right {
  width: 136px;
}

.docs-nav {
  height: 100vh;
  max-height: 100vh;
  position: fixed;
}

.doc-anchor {
  width: 132px;
  position: fixed;
  top: 12px;
  right: 12px;
}

.doc-code {
  margin: 12px 0 !important;
}

.doc-props-table td code,
.doc-props-table td sup {
  color: #a32100;
}

.doc-props-table .enum {
  max-height: 72px !important;
  overflow: auto;
}

.doc-props-table .enum::-webkit-scrollbar {
  background: transparent;
  position: absolute;
  width: 8px;
}

.doc-props-table .enum::-webkit-scrollbar-button {
  display: none;
}

.doc-props-table .enum::-webkit-scrollbar-track {
  background: transparent;
}

.doc-props-table .enum::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 1px solid white;
}

.doc-props-table .enum::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

.doc-props-table td:first-child code {
  color: #003d79;
}

.doc-props-table td:nth-child(2) code {
  color: #000;
  background: #f5f5f5;
}

.doc-cols {
  display: flex;
}

.doc-cols > * {
  flex: 1;
  margin: 0 6px;
}

.doc-cols > *:first-child {
  margin-left: 0;
}

.doc-cols > *:last-child {
  margin-right: 0;
}

.dd {
  font-size: 0.85em;
}

.dd ul {
  padding-left: 18px;
}

@media screen and (max-width: 950px) {
  .doc-anchor {
    display: none;
  }

  .right {
    display: none;
  }
}

#playground-container {
  display: flex;
  height: calc(100vh - 60px);
  position: relative;
  z-index: 11;
  background: white;
}

#playground-container .props {
  width: 150px;
}

#playground-container .output {
  flex: 1;
  border: 0;
}
